.row
  %aside.col-md-2
    = render 'shared/nav_left', items: @stocked_items

  .col-md-7
    = render 'follow_form', user: @user if current_user && current_user != @user
    = render 'shared/feed', items: @items
  %aside.col-md-3
    = render 'shared/user_info', user: @user
