.row
  %aside.col-md-4
    %section.tags_feed
      = render 'tags/feed', tag_list: @user.tag_list
  .col-md-5
    = render 'tagfeed', items: @items
  %aside.col-md-3
    = render 'shared/user_info', user: @user
